body {
  margin: 0;
  padding: 0;  
  font-family: 'Lato';
}

* {
  box-sizing: border-box;
}

/*Header*/

.header {
  max-width: 1366px;
  height: 76px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding:  20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

.form{
  max-width: 549px;
  width: 549px;
  height: 48px;  
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
  border-radius: 5px;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}


.form input {
  flex: 1;
  outline: none;
  font-size: 14px;
  font-family: 'Open Sans';
  color: #646464;
  height: 19px;  
  border: none;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, .1)
}

.form-btn {
  text-align: right;
}

/* Main */

.container {
  max-width: 1366px;
  display: flex;
  margin: 0 auto;
  position: relative;
}

/*Imoveis - Header*/

.imoveis {
  max-width: 957px;
  flex: 2;
  height: 1710px; 
  position: absolute;
  width: 100%;
  z-index: 10;
}

.imoveis-header {
  height: 52px;
  background-color: #F3F3F3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.imoveis-header h3 {  
  display: block;
  color: #F84B00;
  margin-left: 69px;
}

.imoveis-header-menu {
  display: flex;
  margin-right: 25px;
}

.btn-filtro {
  margin-right: 24px;
}

/*Imoveis Container*/

.imoveis-container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;  
  background: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.12);
  padding: 112px 57px 123px 66px;
}

.imoveis-card {
  max-width: 264px;
  max-height: 326px;  
  height: 100%;
  width: 100%;
  flex: 1 1 264px;;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-img {
  max-height: 223px;
  height: 100%;
  background-color: dodgerblue;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
}

.card-info {
  background-color: #fff;
  display: flex;
/*  justify-content: space-between;*/
  align-items: center;
  padding: 19px 10px 19px 22px;
}

.info-text {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  line-height: .4
}


.info-text-preco {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #F84B00;
  font-weight: 700;
  font-size: 16px;
  width: 192px;
  height: 23px;
}

.info-text-preco span {
  font-size: 11px;
  margin-right: 10px;
}

.endereco {
  font-size: 12px;
  color: rgba(163, 163, 163, 1);
  text-align: left;
}

.espaco {
  font-size: 12px;
  color: rgba(100, 100, 100, 1);
  text-align: left;
}

.info-icon {
  margin: 0 auto;
}





/* Media Query */
@media (max-width: 540px) {
  header {
    background-color: #fff;
  }
  
  .imoveis-header {
   background-color: #fff;
   box-shadow: 0 0 0 #fff;
   justify-content: flex-end;
  }
  
  .imoveis-header h3 {  
    display: none;
  }
  
  .btn-filtro {
    display: none;
  }
}


@media (max-width: 790px) {
  .form{
    display: none;
  }
}





